.comment-count {
  font-size: 1.1rem;
  padding: 5px;
}
.comment-header {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
}
.signed-user-img {
  position: relative;
  top: -15px;
}
.post-comment {
  width: 100%;
}
.comment-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 5px;
  background-color: #f9f9f9;
}
.comment-disclaimer-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yt-t-c {
  font-size: 0.8rem;
  color: #606060;
  padding: 5px;
}
button:focus {
  outline: none;
}
button {
  padding: 7px 12px;
  margin: 2px;

  border: none;
  cursor: pointer;
  font-weight: 500;
}
button.comment-submit {
  background-color: #065fd4;
  color: #fff;
}
.comment-submit:disabled {
  background-color: #ccc;
  cursor: default;
}
button.comment-cancel {
  color: #606060;
}
ul {
  padding-left: 0;
  list-style-type: none;
}

li.comment-body {
  display: flex;
}

.comment-user-pic {
  border-radius: 999px;
  margin: 10px;
}
.yt-primary-text {
  color: #030303;
  padding: 5px;

  font-size: 13px;
  font-weight: 600;
  font-family: Roboto, Arial, sans-serif;
}
.yt-secondary-text {
  color: #606060;
  padding: 5px;
  font-size: 13px;
  font-weight: 400;
}
.yt-comment-text {
  color: #030303;
  font-size: 14px;
}
