.comment-count {
  font-size: 1.5rem;
  padding: 5px;
}
.comment-header {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
}
.signed-user-img {
  position: relative;
  top: -15px;
}
.post-comment {
  width: 100%;
}
.comment-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 5px;
  background-color: #f1f1f1;
  font-size: 1.3rem;
}
.comment-disclaimer-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yt-t-c {
  font-size: 1.3rem;

  padding: 5px;
}
button:focus {
  outline: none;
}
button {
  padding: 7px 12px;
  margin: 2px;

  border: none;
  cursor: pointer;
  font-weight: 500;
}
button.comment-submit {
  background-color: #065fd4;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}
button.comment-cancel {
  background-color: #f1f1f1;
  font-size: 1.4rem;
  cursor: pointer;
}
.comment-submit:disabled {
  background-color: #ccc;
  cursor: default;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li.comment-body {
  display: flex;
}

.comment-user-pic {
  border-radius: 999px;
  margin: 10px;
  position: relative;
  top: -10px;
}
.author-name-text {
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}
.time-formatter {
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 400;
}
