.recommendation-container {
  display: flex;
  margin-bottom: 10px;
}
.yt-video-thumbnail {
  padding: 2px;
  cursor: pointer;
}
.yt-video-short-title {
  color: #030303;
  margin-bottom: 0;
  padding: 0px 2px;
  font-weight: bold;
  font-size: 13px;
}
h5.yt-video-short-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-name {
  font-size: 13px;
  margin-bottom: 0;

  padding: 2px;
}
.yt-video-short-desc {
}
