* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  background-color: #f1f1f1;
  margin-top: 10px;
}

.yt-player-and-comment {
  padding: 4px;
  width: 60vw;
  margin-left: 75px;
  margin-top: 20px;
}
.yt-video-reccomendation {
  padding: 4px;
  margin-right: 80px;
  margin-left: 20px;
  margin-top: 20px;
}
