* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --yt-spec-text-primary: #030303;
  --yt-spec-text-secondary: #606060;
}
.app-container {
  display: flex;
  background-color: #f9f9f9;
}
