* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  background-color: #f9f9f9;
}

.yt-player-and-comment {
  padding: 4px;
  width: 60vw;
}
.yt-video-reccomendation {
  padding: 4px;
  width: 30vw;
}
